<% include partials/header.ejs %>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h2 class="hometag">What is Bioregionalism?</h2>
        <div class="paragraphs">
        <p>A bioregion is defined in terms of the unique overall pattern of natural characteristics that are found in a specific place. The main features are generally obvious throughout a continuous geographic terrain and include a particular climate, local aspects of seasons, landforms, watersheds, soils, and native plants and animals. People are also counted as an integral aspect of a place’s life, as can be seen in the ecologically adaptive cultures of early inhabitants, and in the activities of present day reinhabitants who attempt to harmonize in a sustainable way with the place where they live.</p>
        <p>Cascadian bioregionalism deals with the connected ecological, environmental, economic, and cultural ties that are prevalent throughout the U.S. Pacific Northwest and distance the area from their eastern counterparts. The argument is that those in Washington and Oregon in the United States have much more in common with those in British Columbia, Canada, than those in Washington D.C., an argument which continues to gain more ground as society enters a more global age, and as efforts to create integrated transportation and economic systems, stem pollution and global warming, and support sustainable alternatives increasingly requires the commitment of larger regional players.</p>
      </div>
      </div>
      <img src="/images/largecasc.jpg" alt="...">
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <div class="caption">
      <h2 class="hometag">Featured Flora</h2>
      <h3> <small>Thuja Plicata <br> (Western Red Cedar)</small></h3>
        <div class="paragraphs">
        <p>Thuja plicata is among the most widespread trees in the Pacific Northwest. It is associated with Douglas-fir and western hemlock in most places where it grows. It is found at the elevation range of sea level to a maximum of 2,290 m (7,510 ft) above sea level at Crater Lake in Oregon. In addition to growing in lush forests and mountainsides, western redcedar is also a riparian tree, growing in many forested swamps and streambanks in its range. The tree is shade-tolerant and able to reproduce under dense shade.</p>
        <p>Western redcedar has an extensive history of use by the indigenous peoples of the Pacific Northwest Coast, from Oregon to southeast Alaska. Some northwest coast tribes refer to themselves as "people of the redcedar" because of their extensive dependence on the tree for basic materials. The wood has been used for constructing housing and totem poles, and crafted into many objects, including masks, utensils, boxes, boards, instruments, canoes, vessels, houses, and ceremonial objects. Roots and bark were used for baskets, bowls, ropes, clothing, blankets, and rings.</p>
      </div>
      </div>
      <img src="/images/thujaplicata.jpg" alt="...">
    </div>
  </div>
  </div>
<script>
  findLocation();
</script>

<% include partials/footer.ejs %>
