<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="/stylesheet.css" type="text/css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="/jquery.js"></script>
</head>
<body id="body">
  <% include partials/alerts.ejs %>
  <div class="container">
    <div class="jumbotron">Welcome to the Official Cascadia Trails Site</div>

    <a href="/auth/login" class="btn btn-primary">Login</a>
    <a href="/auth/signup" class="btn btn-primary">Signup</a>
  </div>
</body>
</html>

